* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

:root {
  --text-color: #667085;
  --main-color: #8E2424;
  --base-color: #FFFFFF;
  --card-color: #EAECF0;
  --email-color: #F9FAFB;
  --title-color: #101828;
  --input-color: #D0D5DD;
  --neutral-color: #F5F1EB;
  --direitos-color: #98A2B3;
}

body {
  width: 100%;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    padding: 0 20px;
  }

  .menu-content ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
  }

  .menu-content li {
    margin-right: 10px;
  }

  .menu-content li a {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }

  .navigation-action button {
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 112px;
    height: 44px;
  }
}

button {
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  background: none;
  font-size: 0.9rem;
  cursor: pointer;
}

button.botao-cadastro {
  background-color: var(--main-color);
  color: var(--base-color);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-content ul {
    flex-direction: column;
    width: 100%;
  }

  .menu-content li {
    margin: 10px 0;
  }

  .navigation-action {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }

  .button-base,
  .logotype {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .navigation-action button {
    width: 100%;
    font-size: 14px;
  }

  .menu-content li a {
    padding: 8px;
  }
}

.cabecalho-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 407px;
  padding: 20px;
}

.cabecalho-container .subheading {
  padding-top: 96px;
}

.subheading {
  color: var(--main-color);
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 24px;
}

.heading {
  color: var(--title-color);
}

.cabecalho-container .heading {
  margin-bottom: 24px;
  font-size: 48px;
}

.depoimentos-container .heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 44px;
  font-size: 36px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  margin-bottom: 96px;
  line-height: 30px;
}

.metricas {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;

  div {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin: 0 10px;
  }

  .metricas-valores {
    color: var(--main-color);
    font-size: 60px;
    margin-bottom: 24px;
    line-height: 72px;
  }

  .metricas-titulo {
    color: var(--title-color);
    font-size: 18px;
  }

  .metricas-descricao {
    gap: 16px;
    line-height: 24px;
    font-size: 16px;
  }
}

#equipe {
  margin-bottom: 64px;
}

#talentos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#vagas {
  display: flex;
  flex-flow: column;
  align-items: center;

  .vagas-container {
    border: 1px solid var(--card-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 80%;
  }

  .area-vaga {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 32px;
    color: var(--title-color);
  }

  .titulo-vaga {
    font-size: 18px;
    font-weight: bold;
    color: var(--title-color);
  }

  .informacoes {
    font-size: 16px;
    margin-top: 10px;
  }

  .faixa-salarial {
    padding: 10px;
  }
}

#depoimentos {
  background-color: var(--neutral-color);

  .depoimentos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
  }

  .colaborador-nome {
    font-weight: bold;
    line-height: 24px;
    color: var(--title-color);
  }

  #avatar-depoimentos {
    width: 56px;
    height: 56px;
    margin-top: 32px;
    margin-bottom: 16px
  }
}

#email {

  .email-container {
    padding-top: 70px;

    .heading {
      margin-top: 24px;
      margin-bottom: 24px;
      font-size: 36px;
    }
  }

  .email-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--email-color);
    width: 100%;
    padding: 0 20px;

    input {
      padding: 0.8rem 1rem;
      border-radius: 6px;
      border-style: solid;
      border-color: var(--input-color);
    }

    .content {
      margin-bottom: 24px !important;
    }

    .email-form {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .email-direitos-reservados {
      color: var(--direitos-color);
      margin-top: 30px;
      margin-bottom: 30px;
    }

  }
}