* {
    border: 0;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme-color: #14161C;
    --clipboard-theme-color: #818384;
    --simple-color: #FFFFFF;
    --warning-color: #B59F3B;
    --valid-color: #538D4E;
    --error-color: #5F0F1D;
    --sucess-notification-color: #2B5028;
    --start-game-color: #F9FF00;
    --neutral-color: #585858;
    --logo-color: #2F2D2D;
}

body {
    background-color: var(--theme-color);
}

.header {
    border-bottom: 1px solid var(--neutral-color);
    height: 80px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

header {
    align-items: center;
    display: flex;
    height: inherit;
    margin: 0 auto;
    max-width: 992px;
}

main {
    margin: 85px auto 0;
    max-width: 992px;
}

.board-game {
    margin: 200px auto 0;
    width: 330px;
}

.board-game .row {
    display: grid;
    gap: 5px;
    grid-template-columns: 62px 62px 62px 62px 62px;
    height: 62px;
    margin-bottom: 5px;
}

.board-game .letter {
    border: 1px solid var(--neutral-color);
}

.board-game .letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: bold;
}