* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: var(--theme-color);
}

:root {
    --theme-color: #14161C;
    --clipboard-theme-color: #818384;
    --simple-color: #FFFFFF;
    --warning-color: #B59F3B;
    --valid-color: #538D4E;
    --error-color: #5F0F1D;
    --sucess-notification-color: #2B5028;
    --start-game-color: #F9FF00;
    --neutral-color: #585858;
    --logo-color: #2F2D2D;
}

body {
    width: 100%;
    height: 100vh;
}

.header-container {
    height: 80px;
    border-bottom: 1px solid var(--neutral-color);

    .header-logo {
        padding-bottom: 0px;
        margin-left: 51px;
        margin-right: 51px;
        margin-top: 25px;
        margin-bottom: 0px;
    }
}